<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HorizontalCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8813C8DB1C57FB3A0019B498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8839E63A1C2FD5640008FB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8839E6441C2FD5640008FB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
